@import '../src/styles/variables';
@import "bootstrap";
@import '../src/styles/custom';

body{
    background-color: $gray-900;
    color: $gray-300;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

input, textarea, button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
